.header {
  display: flex;
  min-height: 80px;
  width: 100%;
  background-color: #65d11c;
  justify-content: space-between;
}

.navbar-brand {
  color: black;
}

.page-link {
  color: black;
}

.header-navbar {
  align-items: center;
  justify-content: space-around;
}

.card {
  min-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  background: linear-gradient(-45deg);
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 13px;
  font-weight: 1000;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #f2f2f2;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  position: relative;
}

.card::before {
  position: absolute;
  opacity: 0.2;
  background: transparent;
  pointer-events: none;
}

.card::after {
  position: absolute;
  opacity: 0.2;
  background: transparent;
  filter: invert(1);
  pointer-events: none;
}

.card:hover {
  color: #f2f2f2;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  opacity: 1;
  background: #e2a9e5;
  background: -moz-linear-gradient(135deg, #9afa1b 15%, #096e1f 100%);
  background: -webkit-linear-gradient(135deg, #9afa1b 15%, #096e1f 100%);
  background: linear-gradient(135deg, #9afa1b 15%, #096e1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.card-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.footer {
  min-height: 100px;
  background-color: #65d11c;
  display: flex;
  justify-content: center;
  align-items: center;
}
